<div>
    <h2>
        <span jhiTranslate="gatewayApp.file.home.title">Files</span>

        <button class="btn btn-primary float-right jh-create-entity create-file" [routerLink]="['/', { outlets: { popup: ['file-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="gatewayApp.file.home.createLabel">
                Create new File
            </span>
        </button>

        <!-- smart table  -->
        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>

        <!-- smart table -->


    </h2>
    <jhi-alert></jhi-alert>
   
    
</div>